# Core Data Handling
pandas>=2.0
numpy>=1.20

# Data Acquisition
yfinance>=0.2

# Visualization
matplotlib>=3.8


#Requirements.txt specifies the Python libraries needed to  
#handle the quantitative pipeline for data ingestion, 
#engineering, and visualization.

#Run with "pip install -r requirements.txt"